 *{
  margin: 0;
   padding: 0%;
   text-decoration: none;
  box-sizing: border-box;

 }
 @import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,500;0,600;1,500&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');


 .hero{
  width:100%;
  height: 100vh;
  background-image: url( https://d3ezn0y6hdgq62.cloudfront.net/assets/blueorigin_be4_test_headerdark.jpg);
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
 }
nav{
   
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top:10px;
  padding-left: 10px;
  padding-right: 10px;
}
h2{
  color: rgb(243, 231, 3);
  margin-left: -7px;
}
h2 a{
  color: rgb(255, 255, 255);
  margin-left: 30px;
}
h2 a:hover{
  color: rgb(255, 255, 255);
  
}
h2 img{
  width: 100px;
}



 nav ul{
  
  text-decoration: none;
 }
nav ul li{
  line-height: 30px;
  font-weight: lighter;
  font-size:small;
  display: inline-block;
  width: 0px 10px;
  margin-right: 20px;
  margin-left: ;
}
nav ul li a{
  color:rgb(255, 255, 255);
  text-transform: uppercase;
}
a:hover{
  transition: 2ms;
  color: yellow;
  border: 50px;
  opacity: 50px;
   
}
 .colum{
   position:flex;
   text-align: center;
   justify-content: space-between;
   margin-top:200px ;
   margin-right: 100px;
   
 }
 .colum h1{
  font-size: 100px;
  color: rgb(255, 255, 255);
  margin-left: 130px;
  display:;
  font-weight: bolder;
  font-size: xx-large;
 }
 .colum p{
  font-style: italic;
  margin-right:   ;
  margin-left: 20px ;
  color: #f4eaea;
 }
 .colum a{
  font-size: 18px;
  border-radius:4px ;
  display: block;
  background-color: rgba(78, 213, 33, 0.97);
  padding: 10px 20px;
  width: fit-content;
  margin-top: 30px;
   margin-left: 539px;
   text-align: center;
 }
  .container{
    display: flex;
     justify-content: center; 
    background-image:urlttps://i.pinimg.com/564x/4b/cf/92/4bcf928008b5afdbafce5cbc6c4adf57.jpg)
    background-size: cover;
    background-position: center; 
    } 

    .card1 a{
      display: block;
      width: fit-content;
      padding-top: 10px;
      background-color: chartreuse;
      padding: 10px 20px;
      margin-top: 48px;
      margin-left: 110px;
       
    }
    .card2 a{
      display: block;
      width: fit-content;
      padding-top:10px;
      background-color: chartreuse;
      padding: 10px 20px;
      margin-top: 58px;
      margin-left: 110px;
  }
  .card3 a{
    display: block;
    width: fit-content;
    padding-top: 10px;
    background-color: chartreuse;
    padding: 10px 20px;
    margin-top: 48px;
    margin-left: 110px;
     
}
  
  .card1{
    color: aliceblue;
    background-image: url(https://i.pinimg.com/564x/b8/56/33/b856331b5b3d1a33e7bbd1d69c086077.jpg );
    background-color: aqua;
    width: 320px;
    height: 300px;
    margin: 10px;
      font-family: Arial, Helvetica, sans-serif;
    font-size:small;
    text-align: center;
  }
  .card2{  
    color: aliceblue;
    background-image: url(https://i.pinimg.com/564x/b8/56/33/b856331b5b3d1a33e7bbd1d69c086077.jpg );
    background-color: aqua;
    width: 320px;
    height: 300px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:small;
    text-align: center;
  }
  .card3{  
    color: aliceblue;
    background-image: url(https://i.pinimg.com/564x/b8/56/33/b856331b5b3d1a33e7bbd1d69c086077.jpg );
    background-color: aqua;
    width: 320px;
    height: 300px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:small;
    text-align: center;
  }
 
  .card-image1{
   
    background-color: bisque;
    height:110px;
    margin-bottom: 15px;
    width: 320px;
    background-image: url( https://i.pinimg.com/564x/7b/69/1a/7b691a44d2e2a18856b0a1e4b7a59558.jpg);
  background-size: cover;
  background-position: center;
  }
  .card-image2{
    background-color: bisque;
    height:100px;
    margin-bottom: 15px;
    background-image: url( https://i.pinimg.com/564x/94/13/cc/9413cc1e3d5a248eff7bdbbefca95feb.jpg);
    background-size: cover;
  background-position: center;
  width: 320px;
  }

.card-image3{
  background-color: bisque;
  height:100px;
  margin-bottom: 15px;
  background-image: url(https://i.pinimg.com/564x/7d/df/fe/7ddffe88e65e1b8a97bbd44aa96dd418.jpg );
  background-size: cover;
background-position: center;
width: 320px;
}
 
  .container2{
    background-color:white
    line-height:80px;
  }
  .head{
  text-align: center;
  }
  .container2 h1{
    color: black;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;

  }
    .footer{
      margin-top: 100px;
      width: 100%;
      background-color: rgb(249, 249, 249);
 

    }
    .container3{
      max-width:1170PX;
      background-color: rgb(0, 0, 0);
      margin: auto;
      display: flex;
      justify-content: space-evenly;
      
    }
    .row{
      display:flex;
      flex-wrap: wrap; 
    }
   .footer-col{
  width: 25%;
  padding: 70px 0;
  
   }
   .footer-col h4{
    font-family:roboto mono;
    color: #c3bbbb;
    line-height: 80px;
    border: 2px;
   }
   .footer-col h4::before{
    content:'';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: red;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

   }

   .footer-col ul{
    list-style: none;
    

   }
.footer-col ul li a{
  color: aliceblue;
}
 

.text6 p{
  margin-top: 22px;
  margin-left: 42px;
  margin-right: 5px;
  color: aliceblue;
   
}
.text6 h1{
  margin-top: 20px;
  padding-top: 17px;
  color: aliceblue;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
}
 